<div class="header-middle sticky-header">
    <div class="container">
        <div class="header-left">

            <a href="index.html" class="logo">
                <img src="~/assets/images/logo.png" alt="Molla Logo" width="105" height="25">
            </a>

            <nav class="main-nav">
                <ul class="menu sf-arrows">
                    <li class="megamenu-container active">
                        <a href="index.html">Trang chủ</a>
                    </li>
                </ul>
            </nav>
            <nav class="main-nav">
                <ul class="menu sf-arrows">
                    <li class="megamenu-container active">
                        <a href="index.html">Điện thoại</a>
                    </li>
                </ul>
            </nav>
            <nav class="main-nav">
                <ul class="menu sf-arrows">
                    <li class="megamenu-container active">
                        <a href="index.html">Phụ kiện</a>
                    </li>
                </ul>
            </nav>
            <nav class="main-nav">
                <ul class="menu sf-arrows">
                    <li class="megamenu-container active">
                        <a href="index.html">Về chúng tôi</a>
                    </li>
                </ul>
            </nav>
        </div>

        @*<div class="header-right">
            <div class="header-search">
                <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                <form action="#" method="get">
                    <div class="header-search-wrapper">
                        <label for="q" class="sr-only">Search</label>
                        <input type="search" class="form-control" name="q" id="q" placeholder="Tìm kiếm..." required>
                    </div><!-- End .header-search-wrapper -->
                </form>
            </div><!-- End .header-search -->

            <div class="dropdown cart-dropdown">
                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                    <i class="icon-shopping-cart"></i>
                    <span class="cart-count">2</span>
                </a>
            </div><!-- End .cart-dropdown -->
        </div><!-- End .header-right -->*@
    </div><!-- End .container -->
</div><!-- End .header-middle -->