@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">


<!-- molla/contact.html  22 Nov 2019 10:04:01 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="page-wrapper">
        <header>
            <link rel="import" href="/header.html">
        </header>

        <main class="main">
            <div class="container">
                <div class="page-header page-header-big text-center" style="background-image: url('assets/images/contact/contact-bg.jpg')">
                    <h1 class="page-title" style="color: #c96;">Liên hệ chúng tôi<span>Giữ liên lạc với chúng tôi</span></h1>
                </div><!-- End .page-header -->
            </div><!-- End .container -->

            <div class="page-content pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-2 mb-lg-0">
                            <h2 class="title mb-1">Thông tin liên lạc</h2><!-- End .title mb-2 -->
                            <p class="mb-3">Đồ Án 3 - Làm website bán điện thoại và phụ kiện của sinh viên Huỳnh và Vũ </p>
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="contact-info">
                                        <h3>The Office</h3>

                                        <ul class="contact-list">
                                            <li>
                                                <i class="icon-map-marker"></i>
                                                268 Lý Thường Kiệt, Phường 14, Quận 10, Thành phố Hồ Chí Minh
                                            </li>
                                            <li>
                                                <i class="icon-phone"></i>
                                                <a href="tel:#">+84 123 456 789</a>
                                            </li>
                                            <li>
                                                <i class="icon-envelope"></i>
                                                <a href="mailto:#">da3-bachkhoa@hcmut.edu.vn</a>
                                            </li>
                                        </ul><!-- End .contact-list -->
                                    </div><!-- End .contact-info -->
                                </div><!-- End .col-sm-7 -->

                                <div class="col-sm-5">
                                    <div class="contact-info">
                                        <h3>Giờ làm việc</h3>

                                        <ul class="contact-list">
                                            <li>
                                                <i class="icon-clock-o"></i>
                                                <span class="text-dark">Tất cả các ngày trong tuần</span> <br> 8:00 - 22:00
                                            </li>
                                            <li>
                                                <i class="icon-calendar"></i>
                                                <span class="text-dark">Ngày lễ / tết</span> <br> 08:00 - 20:00
                                            </li>
                                        </ul><!-- End .contact-list -->
                                    </div><!-- End .contact-info -->
                                </div><!-- End .col-sm-5 -->
                            </div><!-- End .row -->
                        </div><!-- End .col-lg-6 -->
                        <div class="col-lg-6">
                            <h2 class="title mb-1">Có bất kỳ câu hỏi?</h2><!-- End .title mb-2 -->
                            <p class="mb-2">Sử dụng biểu mẫu bên dưới để liên hệ với nhóm chúng tôi</p>

                            <form action="#" class="contact-form mb-3">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="cname" class="sr-only">Tên</label>
                                        <input type="text" class="form-control" id="cname" placeholder="Tên *" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label for="cemail" class="sr-only">Email</label>
                                        <input type="email" class="form-control" id="cemail" placeholder="Email *" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="cphone" class="sr-only">Số điện thoại</label>
                                        <input type="tel" class="form-control" id="cphone" placeholder="Số điện thoại">
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label for="csubject" class="sr-only">Vấn để</label>
                                        <input type="text" class="form-control" id="csubject" placeholder="Vấn để">
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <label for="cmessage" class="sr-only">Lời nhắn</label>
                                <textarea class="form-control" cols="30" rows="4" id="cmessage" required placeholder="Lời nhắn *"></textarea>

                                <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                                    <span>Gửi</span>
                                    <i class="icon-long-arrow-right"></i>
                                </button>
                            </form><!-- End .contact-form -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->

                    <hr class="mt-4 mb-5">

                    <div class="stores mb-4 mb-lg-5">
                        <h2 class="title text-center mb-3">Our Stores</h2><!-- End .title text-center mb-2 -->

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="store">
                                    <div class="row">
                                        <div class="col-sm-5 col-xl-6">
                                            <figure class="store-media mb-2 mb-lg-0">
                                                <img src="assets/images/stores/img-1.jpg" alt="image">
                                            </figure><!-- End .store-media -->
                                        </div><!-- End .col-xl-6 -->
                                        <div class="col-sm-7 col-xl-6">
                                            <div class="store-content">
                                                <h3 class="store-title">Trường Đại học Bách khoa - Đại học Quốc gia TP.HCM</h3><!-- End .store-title -->
                                                <address>268 Lý Thường Kiệt, Phường 14, Quận 10, Thành phố Hồ Chí Minh</address>
                                                <div><a href="tel:#">028 3864 7256</a></div>

                                                <h4 class="store-subtitle">Giờ mở cửa:</h4><!-- End .store-subtitle -->
                                                <div>Tất cả ngày trong tuần từ 08:00 đến 22:00</div>
                                                <div>Ngày lễ / tết từ 08:00 đến 20:00</div>

                                                <a href="#" class="btn btn-link" target="_blank"><span>Xem đường đi</span><i class="icon-long-arrow-right"></i></a>
                                            </div><!-- End .store-content -->
                                        </div><!-- End .col-xl-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .store -->
                            </div><!-- End .col-lg-6 -->

                            <div class="col-lg-6">
                                <div class="store">
                                    <div class="row">
                                        <div class="col-sm-5 col-xl-6">
                                            <figure class="store-media mb-2 mb-lg-0">
                                                <img src="assets/images/stores/img-2.jpg" alt="image">
                                            </figure><!-- End .store-media -->
                                        </div><!-- End .col-xl-6 -->

                                        <div class="col-sm-7 col-xl-6">
                                            <div class="store-content">
                                                <h3 class="store-title">Trường Bách Khoa</h3><!-- End .store-title -->
                                                <address>Dĩ An – Khu đô thị Đại học Quốc Gia TP. HCM, Quận Thủ Đức, TP.HCM</address>
                                                <div><a href="tel:#">028 3864 7256</a></div>

                                                <h4 class="store-subtitle">Giờ mở cửa:</h4><!-- End .store-subtitle -->
                                                <div>Tất cả ngày trong tuần từ 08:00 đến 22:00</div>
                                                <div>Ngày lễ / tết từ 08:00 đến 20:00</div>

                                                <a href="#" class="btn btn-link" target="_blank"><span>Xem đường đi</span><i class="icon-long-arrow-right"></i></a>
                                            </div><!-- End .store-content -->
                                        </div><!-- End .col-xl-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .store -->
                            </div><!-- End .col-lg-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .stores -->
                </div><!-- End .container -->
                <div id="map"></div><!-- End #map -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDc3LRykbLB-y8MuomRUIY0qH5S6xgBLX4"></script>

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
</body>


<!-- molla/contact.html  22 Nov 2019 10:04:03 GMT -->
</html>