@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "_Layout";
}
@model ProductModel
<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
    <div class="page-wrapper">
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('../assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Thêm sản phẩm</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			<form action="#">
		                	<div class="row">
		                		<div class="col-lg-9">
		                			<h2 class="checkout-title">Thông tin sản phẩm</h2><!-- End .checkout-title -->
		                				<label>Tên sản phẩm</label>
	            						<input type="text" class="form-control">

	            						<label>Category</label>
	            						<input type="text" class="form-control">

	            						<label>Giá</label>
	            						<input type="text" class="form-control" required>

	            						<label>Màu sắc</label>
	            						<input type="text" class="form-control" placeholder="Mã màu" required>

	                					<label>Mô tả</label>
	        							<textarea class="form-control" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
		                		</div><!-- End .col-lg-9 -->
		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Tải ảnh</h3><!-- End .summary-title -->
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
    </div><!-- End .modal -->
</body>
</html>